@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');

/*  ESTILOS PRINCIPALES - GENERALES DE LA  WEB  */


* { 
      -webkit-box-sizing:border-box; 
      -moz-box-sizing:border-box; 
      -ms-box-sizing:border-box; 
      -o-box-sizing:border-box; 
      box-sizing:border-box; /* ancho y alto de elementos incluyen padding y borde pero no el margen*/
}

/* html {
      width: 100%; 
      height:100%; 
} */
     


body {
      width: 100%;
      /* height:100%; */
      font-family: 'Vibur', cursive;
      /*   the main font */
      font-family: 'Abel', sans-serif;
      opacity: .95;
      background: #092756;
      background: 
      -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
      -moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), 
      -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
      background: 
      -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), 
      -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
      -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
      background: 
      -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), 
      -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
      -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
      background: 
      -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), 
      -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
      -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
      background: 
      -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), 
      linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
      linear-gradient(135deg,  #670d10 0%,#092756 100%);
      /* compatibilidad con versiones antiguas de internet explorer. Sintaxis específica de microsoft */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
      
}

/* Barra de navegación */
nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      /* background-color: #0a0a0a; */
      box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
      margin-bottom: 1rem;
      position:sticky;
      top: 0px;
}

.enter {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
}



p {
      font-family: 'Alegreya', serif;
      font-size: 15px;
}

ul {
      list-style: none;
}


/* LOGO */

/* LOGO NAV */
.logo {
      width: 80px;
      height: 80px;
}

/* LOGO PEQUEÑO DE USO EN TEXTO */
.logo-sm {
      width: 20px;
      height: 20px;
}

.logo-sl {
      width: 40px;
      height: 40px; 
}

/* ICONOS DE AVATAR DE USUARIO */
.avatar {
      height: 90px;
      width: 100px;
      border-radius: 50px;
}

.avatar-sm {
      height: 25px;
      width: 25px;
      
}


/* SEARCHBAR - BARRA DE BÚSQUEDA */
.search-box {
      width: fit-content;
      height: fit-content;
      position: relative;
}
.search-icon {
      width: 50px;
      height: 50px;
}
.input-search {
      height: 30px;
      width: 30px;
      border-style: none;
      padding: 10px;
      font-size: 14px;
      letter-spacing: 2px;
      outline: none;
      border-radius: 20px;
      transition: all .5s ease-in-out;
      padding-right: 20px;
      color:#fff;
}
.input-search::placeholder {
      color:rgba(6, 5, 5, 0.9);
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 100;
}
.btn-search {
      width: 50px;
      height: 50px;
      border-style: none;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color:#ffffff ;
      background-color:transparent;
      pointer-events: painted;  
}
.btn-search:focus ~ .input-search {
      width: 300px;
      border-radius: 20px;
      background-color: transparent;
      border-bottom:1px solid rgba(255,255,255,.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus {
      width: 300px;
      border-radius: 0px;
      background-color: transparent;
      border-bottom:1px solid rgba(255,255,255,.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



/* MENÚ NAVEGACIÓN */

.navbar {
      margin-right: 1.5rem;
}

.fi, .fi-br-menu-burger {
      font-size: 60px;
}

.fi, .fi-rr-sobre, .fi-ss-usuario {
      font-size: 30px;
}


/* CONTENEDORES PRINCIPALES ESTILO TARJETA */

/* CARDS DE PÁGINAS DE LA WEB */
.card, .enter-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      border-radius: 10px;
      background-color: rgba(18, 235, 83, 0.281);
      /* background-color: rgba(13, 242, 28, 0.1); */
      box-shadow: 0 6px 11px rgba(0, 0, 0, 0.1);
      padding: 3rem;
   
}

.card {
      max-width: 95%; 
      margin: 0.5rem;
      text-align: center;  
}

.card h1 { 
      text-shadow: 0 0 10px rgba(0,0,0,0.3); 
      letter-spacing:1px; 
      text-align:center; 
}

.card h2 {
      color: black; 
      text-shadow: 0 0 10px rgba(0,0,0,0.3); 
      letter-spacing:1px; 
      text-align:center; 
}

/* login y registro  */
.enter-card {
      max-width: 400px;
      margin: 0 auto;
      text-align: center
}

.enter-card h1 {
      text-shadow: 0 0 10px rgba(0,0,0,0.3); 
      letter-spacing:1px; 
      text-align:center; 
}

/* friends-page */
.card .contenedor-abajo {
      background-color: rgba(198, 135, 216, 0.281);
}


/* INPUTS  */
input, #textarea { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}


input:focus { 
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}


form {
      display: flex;
      flex-direction: column;
      align-items:normal;
}

label {
      margin-top: auto;
      font-weight: bold;
}




/* BOTONES */

/* BOTON GENÉRICO */
.btn {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      padding: 4px 10px;
      margin-bottom: 0;
      font-size: 13px;
      line-height: 18px;
      color: #0f0d0d;
      text-align: center;
      text-shadow: 0 1px 1px rgba(133, 130, 130, 0.865);
      vertical-align: middle;
      background-color: #737373;
      background-image: none;
      background-repeat: repeat-x;
      border-color: #666666;
      border-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #666666;
      border-radius: 4px;
      box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2), 0 1px 3px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      *margin-left: .3em;
}
      

/* distintos estados generales  del botón --> color blanco */
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
      background-color: #e6e6e6; 
}

.btn:hover { 
      color: #333333; 
      text-decoration: none; 
      background-color: #e6e6e6; 
      background-position: 0 -15px; -webkit-transition: 
      background-position 0.1s linear; -moz-transition: 
      background-position 0.1s linear; -ms-transition: 
      background-position 0.1s linear; -o-transition: 
      background-position 0.1s linear; transition: background-position 0.1s linear; 
}

/* BOTÓN PRINCIPAL DE PÁGINA MÁS VISIBLE */
.btn-large { 
      padding: 9px 14px; 
      font-size: 15px; 
      line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; 
      border-radius: 5px; 
}

/* BOTÓN MÁS LLAMATIVO. Podemos usar esta clase para 'enviar' 'comprar' ... */
.btn-primary, .btn-primary:hover { 
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
      color: #0a0303; 
}

.btn-primary.active { 
      color: rgba(225, 225, 225, 0.75); 
}

.btn-primary { 
      background-color: #4a77d4; /*#4a77d4; */
      background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
      background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
      background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
      background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
      background-image: linear-gradient(top, #6eb6de, #4a77d4); 
      background-repeat: repeat-x; 
      filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
      border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { 
     filter: none; 
     background-color: #4a77d4; 
}

/* BOTÓN QUE OCUPA TODO EL ANCHO DE SU CONTENEDOR - impide que otro elemento se coloque en misma fila */
.btn-block { 
      width: 100%; 
      display:block; 
}


/* INDEX GRID - CONTENEDOR PRINCIPAL 'parrilla'  --> main */
.grid-container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      /* grid-template-columns: repeat(3, 1fr);*/
      grid-template-rows: auto;
      gap: 20px;  
}
    
/*  columnas */
.columna-izquierda,
.columna-derecha,
.columna-centro {
      display: flex;
      flex-direction: column;
      margin: 1px;
}

/* divisiones dentro de las columnas */
.sub-columna-izquierda,
.sub-columna-derecha {
      flex: 1;
      margin: 5px;
}

/* FRIENDS-PAGE GRID - específico */
/* Estilos específicos para la página friends.html */
.friends-page .grid-container {
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 20% auto;
      /* grid-template-areas: 
      "columna-izquierda columna-derecha"
      " fila-superior "
      " contenedor-abajo"; */
}
    
/* .friends-page .columna-derecha {
      display: grid;
      grid-template-areas: "fila-superior contenedor-abajo";
} */

.friends-page .fila-superior {
      grid-area: fila-superior;
      grid-row: 1;
      grid-column: 2 / 4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   
}

.friends-page .contenedor-abajo {
      grid-area: contenedor-abajo;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      border: 1px solid black;
}
    

/* ICONOS  */

.iconos {
      width: 40px;
      height: 40px ;
      border-radius: 3px;
}

.iconos:hover {
      color: #333333; 
      text-decoration: none; 
      background-color: #e6e6e6; 
      background-position: 0 -15px; -webkit-transition: 
      background-position 0.1s linear; -moz-transition: 
      background-position 0.1s linear; -ms-transition: 
      background-position 0.1s linear; -o-transition: 
      background-position 0.1s linear; transition: background-position 0.1s linear; 
    
}

/* FOOTER */

footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap:5px  ;
}

a {
      text-decoration:none; /* Elimina el subrayado */
      color: rgb(8, 8, 8); /* Cambia el color a negro */
}


/* AUREA DE AQUI PARA ABAJO - LOGIN Y REGISTRO */

/* para las divisiones puedes aplicarle la clase .card  */

.division_login_registro {
      
      display: flex;
      justify-content: space-between;
}