@media (max-width: 375px) {
	/* Cambiar estilos según sea necesario */
	nav.container {
		flex-wrap: wrap;
		justify-content:flex-end;
	}
	.search-box, .navegate {
		display: none;
	}

      .nav-welcome {
            
      }

}
      
/* Estilos para pantalla mediana (hasta 600px) */
@media (max-width: 600px) {
	/* Cambiar estilos según sea necesario */
	nav.container {
            align-self: center;
		flex-wrap: wrap;
		justify-content: center;
	}
	.search-box {
		flex-basis: 100%;
		margin-top: 20px;
	}
	.enter-card {
		margin-top: 20px;
	}
      .nav .logo {
            width: 10px;
      }
}
      
  
@media only screen and (max-width: 800px){
      nav.container {
		flex-wrap: wrap;
		justify-content:flex-start;
	}
}


@media only screen and (max-width: 1024px){
      body{
            width: fit-content
      
      }
      .footer-query {font-size: large }
}

  

