@media (max-width: 767px) {
	.iconos-sm .iconos {
		width: 20px;
		height: 20px;
	}
}

/*Hacer tarjeta responsive y que no se salga el texto*/
/* De 576 a 768 la tarjeta ocupa solo 60% de ancho */
@media only screen and (max-width: 768px) {
	.cardConf {
		width: 60%;
		font-size: 1rem;
		line-height: 1.5;
		padding: 1rem;
		box-sizing: border-box;
	}
}


@media (min-width: 320px) and (max-width: 369px) {
	
	.ipad-friend-card {
		width: 100%;
	}
	.ipad-friend-card-button {
		width: 100%;
		margin: 0rem;
		padding: 0rem;
	}
	.post-nick-date {
		flex-direction: column;
	}
}

@media (min-width: 370px) and (max-width: 533px) {
	
	.ipad-friend-card {
		width: 80%;
		margin-left : 0rem;
	}
	.ipad-friend-card-button {
		width: 20%;
	}
}



/* En pantallas de menos de 576 ocupa el 80% */
@media (min-width: 534px) and (max-width: 576px) {
	.cardConf {
		width: 80%;
		font-size: 1.25rem;
		line-height: 1.75;
		padding: 1.5rem;
	}
	.ipad-friend-card {
		width: 60%;
		font-size: 0.5rem;
		margin-left : 0rem;
	}
	.ipad-friend-card-button {
		width: 40%;
	}
}



/* POST RESPONSIVO EN IPAD  pantallas de 768px a 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
	.post-nick-date {
		flex-direction: column;
	}
	.post-name-firstname {
		font-size: 1rem;
		margin: -0.5rem;
	}
	.ipad-avatar {
		margin: -0.5rem;
	}
	.ipad-email {
		font-size:0.8rem
	}
	.ipad-post-avatar{
		margin: -2rem;
		margin-top : 1rem;
	}
	.ipad-post-h4 {
		margin: 1rem;
	}
	.ipad-friends-section {
		margin : 0rem;
		padding : 0rem;

	}
	.ipad-friend-card {
		width: 80%;
	}
	.ipad-friend-card-button {
		width: 20%;
	}
}

/*PROFILE RESPONSIVO EN IPAD pequeño*/
@media (min-width: 576px) and (max-width: 768px) {
	
	.ipad-container {
		flex-direction: column;
	}

	.ipad-profile {
		width: 100%;
		margin-bottom: 1rem;
	}

	.ipad-friend-card {
		width: 60%;
	}
	
}

@media (min-width: 1024px) and (max-width: 1300px) {
	.ipad-nickname {
		font-size: 0.8rem;
	}
	.ipad-friend-card {
		width: 60%;
	}
	.ipad-friend-card-button {
		width: 40%;
	}
}