@import url("https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur");

body {
  background-color:rgba(0, 0, 0, 0.865);
  color: whitesmoke;
  padding: 50px;
  font: 14px "Abel", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
