<!--  PUBLICACIONES -->
<div>
      <ol id="lista-publicaciones">
            <!-- se rellena con getPubApi.js -->
            <li class="card border p-4">
                  <div class="container">
                        <!-- CONTENIDO DE LA PUBLICACIÓN -->
                        <div class="row d-flex">
                              <!-- FOTO Y AUTOR -->
                              <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div>
                                          <img class="img-fluid rounded align-self-start"
                                                src="./img/friends/avatar11.png" alt="usuario">
                                          <h4 class="mt-3">Carmen Lomana</h4>
                                    </div>
                              </div>
                              <!-- TITULO Y POST -->
                              <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="border border-dark sombra rounded p-4 ">
                                          <h5>Aquí va el título:</p>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque culpa
                                                      impedit ducimus provident, voluptate vel incidunt itaque
                                                      reiciendis dolorum a, dolore repellendus nostrum cum autem minus
                                                      unde asperiores qui fuga. Lorem ipsum dolor, sit amet consectetur
                                                      adipisicing elit. Obcaecati distinctio non dolor a quae quo
                                                      facere. Quasi minima quod aspernatur repellat. Quaerat molestias
                                                      quo qui dignissimos maxime obcaecati temporibus facere.</p>
                                    </div>
                              </div>
                        </div>
                        <!-- CONTADOR DE LIKES + COMENTAR-->
                        <div class="row">
                              <div class="likesCounter d-flex justify-content-between w-100">
                                    <!-- SUMA-RESTA LIKE -->
                                    <div class="d-flex mt-3">
                                          <div id="sumLikes2">0&nbsp</div>
                                          <i class="bi bi-heart" style="color: black; "></i>
                                    </div>
                                    <!-- COMENTA Y COMPARTE -->
                                    <div>
                                          <!-- COMENTA -->
                                          <button id="commentBtn" class="btn" onclick="">
                                                <i class="bi bi-chat-left-text"
                                                      style="color: black; font-size: 1.5rem"></i>
                                          </button>
                                          <!-- COMPARTE -->
                                          <button id="shareBtn" class="btn" onclick="">
                                                <i class="bi bi-share" style="color: black; font-size: 1.5rem"></i>
                                          </button>

                                    </div>
                              </div>
                        </div>
                  </div>

            </li>
      </ol>
</div>

<!-- SCRIPT -->

<script>

</script>