<!-- PUBLICACIÓN 1 -->
<div class="row">
      <div class="col card">
            <div class="media">
                  <img
                        src="./img/friends/avatar10.png"
                        class="avatar rounded-circle mr-3 d-flex flex-row-reverse"
                        alt="Foto del autor"
                  />
                  <div class="media-body w-100">
                        <h2>¡Hola a todos!</h2>
                        <p class="text-justify">
                              Acabo de lanzar una nueva aplicación web que creo que les
                              gustará. Tiene muchas características interesantes y puede
                              ser útil para diferentes propósitos. Puedes echar un
                              vistazo a la aplicación en mi sitio web
                              <a href="https://www.misitio.com">www.misitio.com</a>. Si
                              tienes algún comentario o sugerencia, por favor házmelo
                              saber. "La programación no se trata de lo que sabes, se
                              trata de lo que puedes aprender."
                        </p>
                  </div>
            </div>
            <!-- probar con grid -->
            <div class="likesCounter d-flex justify-content-between w-100">
                  <div class="d-flex">
                        <div id="sumLikes">0&nbsp</div>
                        <i class="bi bi-heart-fill" style="color: black"></i>
                  </div>
                  <div>
                        <button id="likeBtn" class="btn btn-outline-dark">
                              <i
                                    class="bi bi-emoji-smile-fill"
                                    style="color: black"
                              ></i>
                        </button>

                        <button id="dislikeBtn" class="btn btn-outline-dark">
                              <i
                                    class="bi bi-emoji-smile-upside-down-fill"
                                    style="color: black"
                              >
                              </i>
                        </button>
                  </div>
            </div>
      </div>
</div>
<!-- PUBLICACIÓN 2 -->
<div class="row">
      <div class="col card">
            <div class="media">
                  <img
                        src="./img/friends/avatar6.png"
                        class="avatar rounded-circle mr-3 d-flex flex-row-reverse"
                        alt="Foto del autor"
                  />
                  <div class="media-body">
                        <h2>¡Hola a todos!</h2>
                        <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              Quis quia consequuntur doloribus, distinctio, minus fugiat
                              voluptatem id incidunt vel temporibus amet consequatur
                              aspernatur quisquam omnis molestiae ab, ullam nemo. Vero.
                        </p>
                  </div>
            </div>
            <div class="likesCounter d-flex justify-content-between w-100">
                  <div class="d-flex">
                        <div id="sumLikes2">0&nbsp</div>
                        <i class="bi bi-heart-fill" style="color: black"></i>
                  </div>

                  <div>
                        <button
                              id="meGustaBtn"
                              class="btn btn-outline-dark"
                              onclick="sumLikesOn()"
                        >
                              <i
                                    class="bi bi-emoji-smile-fill"
                                    style="color: black"
                              ></i>
                        </button>
                        <button
                              id="noMeGustaBtn"
                              class="btn btn-outline-dark"
                              onclick="removeLikesOn()"
                        >
                              <i
                                    class="bi bi-emoji-smile-upside-down-fill"
                                    style="color: black"
                              >
                              </i>
                        </button>
                  </div>
            </div>
      </div>
</div> 